%h1.text-center Find By Customer
%br
.col-md-8.col-md-offset-1
  =render 'admin/users/find_customer'

#sidebar.col-md-3
  .form-group
    = form_tag '/admin/find_customers', :method => 'get' do
      %table
        %tr
          %td
            %label First Name
          %td
            =text_field_tag :first_name
        %tr
          %td
            %label Last Name
          %td
            =text_field_tag :last_name
        %tr
          %td
            %label Email
          %td
            =text_field_tag :email
      =submit_tag "Search", class: 'btn btn-primary'
